@inherits LayoutComponentBase
@inject NavigationManager Navigation
@using Web_Centi_Payments_Reports.Components.Services;
@inject IAuthService AuthService;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4">
            <a href="#" target="_blank">About</a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool isFirstRender = true;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            if (!AuthService.IsAuthenticated)
            {
                Navigation.NavigateTo("/login");
            }
        }
    }
}

