body {
}
.login-form {
    max-width: 400px;
    margin: auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: #f9f9f9;
}

    .login-form div {
        margin-bottom: 1em;
    }

    .login-form label {
        margin-bottom: .5em;
        color: #333333;
        display: block;
    }

    .login-form input {
        border: 1px solid #ccc;
        padding: .5em;
        font-size: 1em;
        width: 100%;
        box-sizing: border-box;
    }

    .login-form button {
        padding: 0.7em;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 0.3em;
        cursor: pointer;
    }

        .login-form button:hover {
            background-color: #0056b3;
        }
